.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.gg {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* min-width: 100vh; */
}

.myNav {
  color: rgb(63, 81, 181) !important;
}

.box {
  -webkit-box-shadow: 0px 0px 3px 0px rgba(133, 130, 133, 1);
  -moz-box-shadow: 0px 0px 3px 0px rgba(133, 130, 133, 1);
  box-shadow: 0px 0px 3px 0px rgba(133, 130, 133, 1);
  border-radius: 4px;
  min-width: 80vh;
  background: #fff;
}

.break {
  width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
}
